@model IEnumerable<CarMVCClasses.ApiSale>

@{
    ViewBag.Title = "Sales";
}
    <body style="background-color:antiquewhite;">
        <h2>Sales</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>

        

        @foreach (var item in Model)
        {
            <div class="card border- mb-3" style="max-width: 40rem; border-style: solid; border-width: 3px;background-image: linear-gradient(-50deg,#9c8c72,#b3a898,#ccc1ad,#d4cec5);">

                <div style=" margin:10px" class="card-header">@Html.DisplayFor(modelItem => item.SaleId)</div> <!--ID-->

                <div style=" margin:10px" class="card-body">

                    <p class="card-text">Customer ID: @Html.DisplayFor(modelItem => item.CustomerId)</p>
                    <p class="card-text">Car ID: @Html.DisplayFor(modelItem => item.CarId)</p>
                    <p class="card-text">Salesperson ID: @Html.DisplayFor(modelItem => item.SalesPersonId)</p>

                    <p class="card-text">@Html.DisplayFor(modelItem => item.SaleDate)</p>

                    <p class="card-text">Quantity: @Html.DisplayFor(modelItem => item.SaleQuantity)</p>

                    <p class="card-text">Total: $@Html.DisplayFor(modelItem => item.SaleTotal)</p>

                    <p class="card-text">
                        @Html.ActionLink("Edit", "Edit", new { id = item.SaleId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.SaleId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.SaleId })
                    </p>


                </div>

            </div>
            <br />
        }


    </body>